<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Event info</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-card *ngIf="event">

    <ion-item>
      <h2>{{event.name || event.title}}</h2>

    </ion-item>

    <img class="profile--img" [src]="event.image || '/assets/default-event.png'">

    <ion-card-content>
      <p>{{event.description}}</p>
    </ion-card-content>

    <button ion-button class="example-margin" *ngIf="!isUserParticipated" (click)="participate()">Participate</button>
  </ion-card>

</ion-content>
<!--<md-card class="example-card" *ngIf="event">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>{{event.name || event.title}}</md-card-title>
  </md-card-header>
  <img class="event-image" md-card-image [src]="event.image || '/assets/default-event.png'">
  <md-card-content>
    <p>
      {{event.description}}
    </p>
  </md-card-content>
  <button md-button class="example-margin" *ngIf="!isUserParticipated" (click)="participate()">Participate</button>
</md-card>-->
