
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sights</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="12" [styles]="styles">
    <agm-marker *ngFor="let event of events" [latitude]="event.latitude"
                [longitude]="event.longtitude" [title]="event.title"
                (markerClick)="goToEvent(event)">
    </agm-marker>
    <agm-marker [latitude]="lat" 
                [longitude]="lng" [iconUrl]="'/src/assets/person.png'">
    </agm-marker>
</agm-map>

</ion-content>