<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Events</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-card *ngFor="let event of events" (click)="toEvent(event)">

  <ion-item>
    <h2>{{event.name}}</h2>
    <p>November 5, 1955</p>
  </ion-item>

  <img (load)="loadImg($event)" [src]="event.image || 'https://image.freepik.com/free-icon/party-dj_318-29286.jpg'">

  <ion-card-content>
    <p>{{event.description}}</p>
  </ion-card-content>

  <ion-row>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="thumbs-up"></ion-icon>
        <div>12 Likes</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="text"></ion-icon>
        <div>4 Comments</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <ion-note>
        11h ago
      </ion-note>
    </ion-col>
  </ion-row>

</ion-card>

</ion-content>
