.profile {
  max-width: 400px;
  float: left;
  font-family: "Josefin Sans";

  &--img {
    margin: 10%;
    width: 80%;
    height: auto;
    border-radius: 5px;
  }
}

.header-logo {
  margin: 0;
  float: right;
  height: 30px;
}
