<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <svg class="logo--img header-logo" viewBox="0 0 24 24">
      <use xlink:href="/assets/icons/logo.svg#logo"></use>
    </svg>
    <ion-title>Event participants</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list *ngIf="facebookUsers">
    <ion-title>Facebook users</ion-title>
    <ion-item *ngFor="let user of facebookUsers" (click)="redirectToFacebook(user)">
      <h2>{{user.name}}</h2>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="users">
    <ion-title>Party-maker users</ion-title>
    <ion-item *ngFor="let user of users" (click)="redirectToFacebook(user)">
      <h2>{{user.name}}</h2>
    </ion-item>
  </ion-list>

</ion-content>
<!--<md-list *ngIf="facebookUsers">
  <md-toolbar>Facebook users</md-toolbar>
  <md-list-item *ngFor="let user of facebookUsers" (click)="redirectToFacebook(user)">
    <h3 md-line> {{user.name}} </h3>
  </md-list-item>
</md-list>
<md-list *ngIf="users">
  <md-toolbar>Party-maker users</md-toolbar>
  <md-list-item *ngFor="let user of users">
    <img md-list-avatar [src]="user.photoURL" >
    <h3 md-line> {{user.displayName}} </h3>
  </md-list-item>
</md-list>-->