
   
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <svg class="logo--img header-logo" viewBox="0 0 24 24">
      <use xlink:href="/assets/icons/logo.svg#logo"></use>
    </svg>
    <ion-title>Event chat</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

   <main #main>
        <ion-card class='message-card' *ngFor="let message of messages" [class.mine]="message.owner">
            <ion-item>
                <ion-avatar  item-left>
                    <img [src]="message.userData.photoURL">
                </ion-avatar>
                <h2>{{message.userData.displayName}}</h2>
                <p>{{message.sendAt}}</p>
            </ion-item>
 
            <ion-card-content>
                <p>
                    {{message.message}}
                </p>
            </ion-card-content>
        </ion-card>
    </main>
    <footer class="send-message-block">
        <ion-input class="chat-input" placeholder="Type your message:" #message></ion-input>
      <button ion-button small [disabled]="message.value === ''" (click)="sendMessage(message.value)">Send</button>
    </footer>
    

</ion-content>