.message-card {
    width: 70%;
}

.send-message-block {
    display: flex;
    position: fixed;
    background: white;
    bottom: 40px;
}

.mine {
    float: right;
}

.chat-input {
    width: 80vw;
}
