
   
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Event chat</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

   <main #main>
        <ion-card *ngFor="let message of messages" [class.mine]="message.owner">
            <ion-item>
                <ion-avatar  item-left>
                    <img [src]="message.userData.photoURL">
                </ion-avatar>
                <h2>{{message.userData.displayName}}</h2>
                <p>{{message.sendAt}}</p>
            </ion-item>
 
            <ion-card-content>
                <p>
                    {{message.message}}
                </p>
            </ion-card-content>
        </ion-card>
    </main>
    <footer>
        <textarea placeholder="Type your message:" #message></textarea>
      <button ion-button class="float-right" color="primary" [disabled]="message.value === ''" (click)="sendMessage(message.value)">Send</button>
    </footer>
    

</ion-content>