<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <svg class="logo--img header-logo" viewBox="0 0 24 24">
      <use xlink:href="/assets/icons/logo.svg#logo"></use>
    </svg>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-card>

    <ion-item>
      <h2>{{currentUser.displayName}}</h2>
      <p>{{currentUser.email}}</p>
    </ion-item>

    <img class="profile--img" [src]="currentUser.photoURL">

    <ion-card-content>
      <p>Logged with: {{currentUser.providerData[0].providerId}}</p>
    </ion-card-content>

  </ion-card>

</ion-content>