<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <svg class="logo--img header-logo" viewBox="0 0 24 24">
      <use xlink:href="/assets/icons/logo.svg#logo"></use>
    </svg>
    <ion-title>Article</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-card *ngIf="article && articleInfo">

    <ion-item>
      <h2>{{article.title}}</h2>

    </ion-item>

    <img class="profile--img" [src]="articleInfo.image || '/assets/default-event.png'">

    <ion-card-content>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button fab-center clear (click)="openArticle(article.fullurl)">
          <ion-icon name="book"></ion-icon>
          <div>Read more about {{article.title}}</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>