<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

 <ion-list>
    <ion-item *ngFor="let event of events" (click)="toEvent(event)">
      <ion-avatar item-left>
        <img [src]="event.icon" (load)="loadImg($event)">
      </ion-avatar>
      <h2>{{event.name}}</h2>
      <p>{{event.price}}</p>
    </ion-item>
  </ion-list>

</ion-content>
